html, body {
    height: 100%;
    height: 100%;
    margin: 0;
    background-color: black;

}
#all {
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#game {
    height: 75%;
    width: 75%;
    background-color: #34b4eb;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;

}
#player {
    height: 8%;
    width: 4%;
    background-color: white;
    position: relative;

}

#object {
    height: 10%;
    width: 10%;

    position: relative;
}

.obAn1 {
    animation: object 1.5s infinite linear;
}
.obAn2 {
    animation: object 1.25s infinite linear;
}
.obAn3 {
    animation: object 1s infinite linear;
}
.obAn4 {
    animation: object 0.75s infinite linear;
}
.obAn5 {
    animation: object 0.5s infinite linear;
}

.animate {
    animation: jump 1500ms linear;
}
@keyframes jump {
    0%{bottom: 25%;}
    30%{bottom: 0%;}
    70%{bottom: 0%;}
    100%{bottom: 25%;}
}

@keyframes object {
    0%{right: 0%;}
    100%{right: 100%;}

}
#score {
    font-size: 600%;
    color: white;
}
